<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="wsock-embedded-py.ZPM">
    <Module>
      <Name>wsock-embedded-py</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="rccpy.WSockPy.CLS"/>
    </Module>
  </Document>
</Export>
